<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="custom" type="ConfigurationSample.CustomConfigurationSection, ConfigurationSample"/>
  </configSections>
  <connectionStrings>
    <!--Für Zugriff auf Datenbank-->
    <!--<add name="OracleDatabase" connectionString="Provider=OraOLEDB.Oracle;OLEDB.NET=True;Data Source=192.168.128.152:1521/ora11g;User Id=boostl;Password=boostl;"/>-->
    <add name="OracleDatabase" connectionString="Provider=OraOLEDB.Oracle;OLEDB.NET=True;Data Source=212.152.179.117:1521/ora11g;User Id=boostl;Password=boostl;"/>
    <add name="SqlServer" connectionString="server=.\SQLEXPRESS;database=Departments;trusted_connection=yes"/>
  </connectionStrings>
  <appSettings>
    <!--Alle Programmeinstellungen werden hier festgehalten (z.B.: DatabaseConnections, FilePaths, etc.)-->
    <add key="Connection" value="OracleDatabase"/>
    <add key="DataManager" value="ConnectionToOracle.DataManagerOracle"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>